@import "variables","mixin";

.calendar{
          width:70vw;
          background-color: map-get($color_pallets,'calendar_bg');
          color:map-get($color_pallets,'text-color');
          justify-self:center;
          padding:1%;
          position: absolute;
          left:15%;
          top:92%;
}
.calendarContent{
          padding:0 25%;
          margin-bottom:3%;
          border:none;
}

input{
          background-color: map-get($color_pallets,'calendar_input_bg');     
}
.title,.dateInput,.RequestButton{
          display:flex;
          justify-content: space-around;

}
.RequestButton>span{
          padding: 1.5%;
          justify-self:center;
          @include button(success);          
}
input{
          padding:8%;
}