@mixin volume($p,$m){
          padding:$p *1px;
          margin:$m *1px;
}
@mixin bg_set($bgImg){
          background-image:$bgImg;
          background-size:cover;
          background-repeat:no-repeat;
          
}
@mixin button($color){
          border: 1px solid map-get($color_pallets,$color);
          padding:1%;
          color:map-get($color_pallets,$color);
          cursor: pointer;

}
@mixin buttonAnimation($color1,$color2,$color3){
          box-shadow: inset 0 100px 0 0 $color1;
          -webkit-transition: ease-out 0.4s;
          -moz-transition: ease-out 0.4s;
          transition: ease-out 0.4s;
          &:hover{
           color:$color3;
           box-shadow: inset 0 0 0 0 $color2;
          }
}
@mixin flex-slider{
          display: flex;
          flex-flow: row nowrap;
}
@mixin font-set($weight,$size) {
          font-weight:$weight;
          font-size:$size *1px;
          
}
@mixin Dots {
          cursor: pointer;
          width: 12%;
          height: 12%;
          background-color: #fff;
          border-radius:50%;
          transition:background-color 0.6s ease;
          padding: 5%;
}
@mixin centerItems($direction){
          display: flex;
          align-items: center;
          flex-direction: $direction;
}
@mixin fadeAnimation{
          @-webkit-keyframes fade{
                    from { opacity: .4}
                    to{opacity:1}
          }
          @keyframes fade{
                    from { opacity: .4}
                    to{opacity:1}         
          }
}
@mixin responsive($mode) {
          @if $mode == desktop {
                    @media (max-width: 1200px) { 
                              @content ; 
                    }
          }
          @else if $mode == laptop {
                    @media (max-width: 1024px) { 
                              @content ; 
                    }
          }
          @else if $mode == tablet {
                    @media (max-width: 900px) { 
                              @content ; 
                    }
          }
          @else if $mode == phablet {
                    @media (max-width: 768px)  { 
                              @content ; 
                    }
          }
          @else if $mode == mobileonly {
                    @media (max-width: 320px)  { 
                              @content ; 
                    }
               
          }
}