@mixin volume($p,$m){
          padding:$p *1px;
          margin:$m *1px;
}
@mixin bg_set($bgImg){
          background-image:$bgImg;
          background-size:cover;
          background-repeat:no-repeat;
          
}
@mixin button($color){
          border: 1px solid map-get($color_pallets,$color);
          padding:1%;
          color:map-get($color_pallets,$color);
}
@mixin buttonAnimation($bg-color){
          // position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $bg-color;
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
@mixin flex-slider{
          display: flex;
          flex-flow: row nowrap;
}
@mixin font-set($weight,$size) {
          font-weight:$weight;
          font-size:$size *1px;
          
}
@mixin Dots {
          cursor: pointer;
          width: 12%;
          height: 12%;
          background-color: #fff;
          border-radius:50%;
          transition:background-color 0.6s ease;
          padding: 5%;
}
@mixin centerItems($direction){
          display: flex;
          align-items: center;
          flex-direction: $direction;
}
@mixin fadeAnimation{
          @-webkit-keyframes fade{
                    from { opacity: .4}
                    to{opacity:1}
          }
          @keyframes fade{
                    from { opacity: .4}
                    to{opacity:1}         
          }
}