@import "variables","mixin";
.logo>img{
          width:50%;
}
.headerNav{
          width: 100%;
          position: absolute; 
          top:0;
          padding:0.5%;
          background-color:map-get($color_pallets,'bg_opacity');
          display: flex;
          justify-content: space-between;
          color:map-get($color_pallets,'text-color');
          font-weight:100;
          font-size: small;
          overflow: auto;
}
ul{
          // display: none;
          // display:flex;
          // justify-content: space-between;

}
li{
          display: inline-block;
          margin:2% 15px;
          list-style-type: none;
          &:first-child>a::after{
            content: '';
            display: block;
            width: 100%;
            height: 1.5px;
            background:map-get($color_pallets,'success');
            transition: width .4s;
          }
          &>a{
                    font-weight: 500;
                    text-decoration: none;
                    color:map-get($color_pallets,'text-color');

                  &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 1.5px;
                    background:map-get($color_pallets,'success');
                    transition: width .4s;
                  }
                  &:hover::after{
                    width: 100%;
                    //transition: width .3s;
                }
          }
}
.toggler_and_tools{
          // display:flex;
          // justify-content: space-around;
          cursor: pointer;
           margin:2%;
          &>.toggler_button{
           padding:10px;
           margin-right: 5px;
           background-color:map-get($color_pallets,'text-color');
           color:map-get($color_pallets,'text-color');
           @include buttonAnimation(map-get($color_pallets,'ocher'),map-get($color_pallets,'ocher'),map-get($color_pallets,'ocher'));

        }  
}
//__________________hamberger site__________________


 
