@import "variables","mixin";
.logo>img{
          width:50%;
}
.headerNav{
          width: 100%;
          position: absolute; 
          top:0;
          padding:0.5%;
          background-color:map-get($color_pallets,'bg_opacity');
          display: flex;
          justify-content: space-between;
          color:map-get($color_pallets,'text-color');
          font-weight:100;
          font-size: small;
}
// ul{
//           // display:flex;
//           // justify-content: space-between;

// }
li{
          display: inline-block;
          margin:2% 15px;
          list-style-type: none;
          &>a{
                    font-weight: 500;
                    text-decoration: none;
                    color:map-get($color_pallets,'text-color');
          }
}
.toggler_and_tools{
          // display:flex;
          // justify-content: space-around;
           margin:2%;
          &>.toggler_button{
            padding:10px;
           background-color:map-get($color_pallets,'ocher');
           color:map-get($color_pallets,'text-color');

          }
}
