@import "variables","mixin";
.Testimonials{
          padding:10%;
          @include centerItems(column);

}
.Mainslider2{
          @include centerItems(column);
          justify-content: center;
          &>.Mslider2{
                    display: flex;
                    flex-direction: row;
                    padding:0 20%;

          }
}
