@import "variables","mixin";
.Testimonials{
          padding:10%;
          @include centerItems(column);
          &>.DotBottun{
                    &>.dot{
                              background-color: #d6d6d6;
                              &:hover{
                                        background-color: #869791;
                              }
                    }
          }

}
.Mainslider2{
          // @include centerItems(column);
          @include flex-slider();
          &>.Mslider2{
                    @include centerItems(row);
                    justify-content: center;
                    margin-left: 10%;
                    padding:0 20%;
                    flex:1 0 100vw;
          }
}

