@import url('/assets/fonts/sans-serif');
$color_pallets:(
          success:  #6fb586,
          danger:    #ff5600,
          warning: #f90,
          ocher:#c5bc58,
          unselected-gray:#d6d6d6,
          selected-gray: #869791,
          span-color:#f4f4f4,
          new-color:#d9534f,
          text-color:#fff,
          next-button:rgba(0,0,0,0.5),
          calendar_bg:#111118,
          calendar_input_bg:#1F1F2C
          
);
$font-family:(
          normal: sans-serif
);
$image-src:(
          header_images_slide1:url("/assets/images/slider_n_1.jpg"),
          header_images_slide2:url("/assets/images/slide_n_2_o.jpg"),
          header_images_slide3:url("/assets/images/spa.jpg"),
          header_logo:url("/assets/images/logo-white.webp"),
          banner_SpaSalon:url("/assets/images/spa-banner.jpg"),
          banner_logo_SpaSalon:url("/assets/images/logo_spa.webp"),
          banner_Gym:url("/assets/images/gym-banner.jpg"),
          banner_logo_Gym:url("/assets/images/logo_gym.webp"),
          banner_restaurent:url("/assets/images/restaurant-banner.jpg"),
          banner_logo_restaurent:url("/assets/images/logo_restaurant.webp"),
          Mainslider1_1:url("/assets/images/room_1_n_1-1024x683.jpg"),
          Mainslider1_2:url("/assets/images/room-1.jpg"),
          Mainslider1_3:url("/assets/images/room-2.jpg"),
          Mainslider1_4:url("/assets/images/room-3.jpg"),
          Mainslider2_1:url("/assets/images/profile-2.jpg"),
          Mainslider2_2:url("/assets/images/profile.jpg"),
          Mainslider2_3:url("/assets/images/avatar-1.jpg"),
          Mainslider2_4:url("/assets/images/avatar-3.jpg"),
          Mainslider2_5:url("/assets/images/avatar-4.jpg"),
          Mainslider2_6:url("/assets/images/avatar-2.jpg"),
          offOffer:url("/assets/images/home-banner-1.jpg")
          
)