@import url('/assets/fonts/sans-serif');
$color_pallets:(
          success:  #1bd760,
          danger:    #ff5600,
          warning: #f90,
          yellow:#c5bc58,
          unselected-gray:#d6d6d6,
          selected-gray: #869791,
          span-color:#f4f4f4,
          new-color:#d9534f,
          text-color:#fff
          
);
$font-family:(
          normal: sans-serif
);